.word {
    margin-bottom: 10px;
}

.word span {
    margin: 0 5px;
    padding: 0 2px;
    border-bottom: 1px solid #000;
}

form input[type=text] {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}